.idea
.editorconfig
.bower
.jshintrc
.nodemonignore

_gh_pages
bootstrap
grunt
tests
src

/*.js
/*.html
/*.css
/*.yml
/*.log

composer.json
bower.json
Gemfile
Gemfile.lock

/lib/*.txt
/lib/*.min.js
/lib/demo.js
/lib/*.jpg
/lib/*.MD
/lib/*.html